@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Young+Serif&display=swap");
/* body {
  background-image: url("./assets/LBDRLogo.png");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.8; 
} */
.active {
  font-weight: bold;
}

.orario-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.orario-circle {
  width: 90px;
  height: 90px;
  border-radius: 50%; /* Rende il div circolare */
  background-color: black; /* Colore di sfondo */
  color: #fff; /* Colore del testo */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.myfont {
  font-family: Cabin;
}
.video-width {
  width: 100%;
}
.hero-video {
  width: 100%;
  margin: 0;
  padding: 0;
}
.my-icon {
  width: 25px;
}
